name: Hello World Workflow
'on':
  push:
    branches:
      - main
jobs:
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello World from GitHub Actions Part 3 Cloudnet!"
